[submodule "core/libs/DynamicLibs"]
	path = core/libs/DynamicLibs
	url = https://github.com/Zenith-Team/DynamicLibs.git
[submodule "core/libs/semverc"]
	path = core/libs/semverc
	url = https://github.com/h2non/semver.c
